<?xml version="1.0" encoding="utf-8"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda_robotiq">

    <xacro:arg name="robot_name" default="panda" />
    <xacro:arg name="robotiq_gripper" default="2f85" />
    <xacro:arg name="ft_sensor" default="true" />
    <xacro:arg name="realsense" default="true" />

    <xacro:property name="robotiq_gripper" value="$(arg robotiq_gripper)"/>
    <xacro:property name="ft_sensor" value="$(arg ft_sensor)"/>
    <xacro:property name="realsense" value="$(arg realsense)"/>

    <!-- Establish base link (world ref frame) -->
    <link name="world" />
    <!-- <joint name="world_to_link0" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <parent link="world"/>
        <parent link="panda_link0"/>
    </joint> -->

    <!-- Robot arm (no hand) -->
    <xacro:include filename="$(find franka_description)/robots/panda_arm.xacro"/>
    <xacro:panda_arm arm_id="$(arg robot_name)" connected_to="world" safety_distance="0.03"/>

    <!-- FT300 sensor, optional -->
    <xacro:if value="${ft_sensor}">
        <xacro:include filename="$(find robotiq_ft_sensor)/urdf/robotiq_ft300.urdf.xacro" />
        <xacro:robotiq_ft300 parent="panda_link8" prefix="">
            <origin xyz="0 0 -0.004" rpy="0 0 0" />
        </xacro:robotiq_ft300>
    </xacro:if>

    <!-- 2F gripper, attached to FT300  -->
    <joint name="2f_gripper_attachment_joint" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 1.5707963268"/>
        <xacro:unless value="${ft_sensor}">
            <parent link="panda_link8"/>
        </xacro:unless>
        <xacro:if value="${ft_sensor}">
            <parent link="robotiq_ft_frame_id"/>
        </xacro:if>
        <child link="robotiq_arg2f_base_link"/>
    </joint>

    <!-- 2F gripper -->
    <xacro:if value="${robotiq_gripper == '2f85'}">
       <xacro:include filename="$(find robotiq_2f_85_gripper_visualization)/urdf/robotiq_arg2f_85_model.xacro"/>
    </xacro:if>
    <xacro:if value="${robotiq_gripper == '2f140'}">
        <xacro:include filename="$(find robotiq_2f_140_gripper_visualization)/urdf/robotiq_arg2f_140_model.xacro"/>
    </xacro:if>

    <!-- add a tcp -->
    <link name="panda_tcp" />
    <joint name="panda_tcp_joint" type="fixed">
        <xacro:if value="${robotiq_gripper == '2f85'}">
            <origin xyz="0 0 0.15" rpy="0 0 0" />
        </xacro:if>
        <xacro:if value="${robotiq_gripper == '2f140'}">
            <origin xyz="0 0 0.2" rpy="0 0 0" />
        </xacro:if>
        <parent link="robotiq_arg2f_base_link"/>
        <child link="panda_tcp"/>
    </joint>

    <!-- camera -->
    <!-- TODO: measure precise transform between gripper and camera mount. Maybe we should make a fixed joint to camera_link instead? -->
    <xacro:if value="${realsense}">
        <link name="realsense_bottom_screw_attachment"/>
        <joint name="realsense_bottom_screw_attachment_joint" type="fixed">
            <origin xyz="-0.05 0 0" rpy="0 -1.5707963268 0"/>
            <parent link="robotiq_arg2f_base_link"/>
            <child link="realsense_bottom_screw_attachment"/>
        </joint>
        <xacro:include filename="$(find realsense2_description)/urdf/_d415.urdf.xacro" />
        <xacro:sensor_d415 parent="realsense_bottom_screw_attachment" use_nominal_extrinsics="false" add_plug="false" use_mesh="true">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:sensor_d415>
    </xacro:if>

</robot>